.guessImage {
    width: 100%;
    filter: brightness(0);
}
.light {
    filter: brightness(1);
    transition: filter 0.2s ease-in-out;
}

@media (max-width: 400px) {
    .guessImage {
        width: 150%;
    }
}