.screen1_game_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.screen1_game_input input {
    height: 2rem;
    border-radius: 10px;
    background-color: #00d7fc;
    border-width: 0;
    border-bottom: 2px solid black;
}
.screen1_game_input input:focus-visible {
    outline: 0;
}
.screen1_game_input button {
    height: 2rem;
    border-radius: 20px;
    background-color: #fc1a56;
    border: 2px solid black;
}
.screen1_game_input button:active {
    transform: scale(0.95);
}