#pokedex {
    width: 100%;
    height: 100vh;
    display: flex;
}

.pokedex_left {
    width: 1140px;
    height: 100%;
    margin: auto;
    background-color: #fd1956;
}
.pokedex_header {
    width: 100%;
    height: 200px;
    background-color: #c9215a;
    clip-path: polygon(0 0, 100% 0, 100% 10%, 60% 10%, 20% 100%, 0 100%);
}
.pokedex_camera {
    width: 110px;
    padding-bottom: 110px;
    background-color: #34d5e6;
    border-radius: 50%;
    border: 20px solid #fffcef;
    transform: translate(40%, 20%);
}
.pokedex_hinge {
    width: 1%;
    height: 100%;
    background-color: #fe8e70;
    z-index: 99;
}
.pokedex_right {
    width: 50%;
    height: 100%;
}
.pokedex_frame1 {
    width: 80%;
    height: 50%;
    margin: auto;
    background-color: #f2f4e8;
    border-radius: 10px 10px 10px 120px;
    padding-top: 4%;
    position: relative;
}
.pokedex_circle_container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
}
.pokedex_circle {
    margin-top: 1%;
    width: 2%;
    padding-bottom: 2%;
    background-color: #ea265c;
    border-radius: 50%;
    border: 2px solid black;
}
.pokedex_frame1_footer {
    width: 90%;
    height: 31%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pokedex_frame1_footer_circle {
    margin-left: 8%;
    width: 10%;
    padding-bottom: 10%;
    background-color: #ea265c;
    border-radius: 50px;
    border: 4px solid black;
}
.pokedex_stripe_container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.pokedex_stripe {
    width: 100%;
    height: 6%;
    background-color: black;
    border-radius: 20px;
}
.pokedex_screen1 {
    width: 90%;
    height: 65%;
    border: 2px solid black;
    margin: auto;
    margin-top: 10px;
    background-color: #00d7fc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.pokedex_left_buttons_container {
    width: 80%;
    height: 20%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "buttons direction"
        "largeButton direction";
    gap: 5%;
}
.pokedex_left_tiny_buttons_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: buttons;
}
.pokedex_blue_button {
    width: 20%;
    padding-bottom: 20%;
    border-radius: 50px;
    background-color: #01aaf5;
}
.pokedex_select_button {
    width: 20%;
    padding-bottom: 4%;
    border-radius: 50px;
}
.pokedex_buttons {
    transition: 0.2s ease;
}
.pokedex_buttons:active {
    transform: scale(0.90);
}
.bg_green {
    background-color: #2df74e;
}
.bg_orange {
    background-color: #f78f58;
}
.pokedex_large_button {
    grid-area: largeButton;
    width: 95%;
    height: 100%;
    border-radius: 10px;
    background-color: #f9ee60;
}
.direction_buttons {
    width: 100%;
    height: 100%;
    background-color: #020650;
    clip-path: polygon(37.5% 10%, 62.5% 10%, 62.5% 37.5%, 90% 37.5%, 90% 62.5%, 62.5% 62.5%, 62.5% 90%, 37.5% 90%, 37.5% 62.5%, 10% 62.5%, 10% 37.5%, 37.5% 37.5%);
    position: relative;
    perspective: 400px;
    transition: 0.2s ease;
}
.pokedex_direction_arrow {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: #192863;
    clip-path: polygon(0 100%, 50% 50%, 100% 100%);
}
.direction_up {
    top: 1%;
    right: 50%;
    transform: translate(50%, 100%);
}
.direction_right {
    top: 50%;
    right: 1%;
    transform: rotate(90deg) translate(-30%, 100%);
}
.direction_down {
    top: 90%;
    right: 40%;
    transform: rotate(180deg) translate(50%, 100%);
}
.direction_left {
    top: 50%;
    right: 90%;
    transform: rotate(-90deg) translate(40%, 100%);
}
.button_shadow {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.direcion_buttons_container {
    grid-area: direction;
    width: 170px;
    height: 170px;
    margin: auto;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.75));
}
.direction_rotate_up {
    transform: rotateX(15deg);
}
.direction_rotate_right {
    transform: rotateY(15deg);
}
.direction_rotate_down {
    transform: rotateX(-15deg);
}
.direction_rotate_left {
    transform: rotateY(-15deg);
}

@media (min-width: 531px) and (max-width: 720px) {
    .pokedex_header {
        height: 150px;
    }
    .pokedex_camera {
        width: 80px;
        padding-bottom: 80px;
        border-width: 17px;
    }
    .pokedex_frame1 {
        height: 55%;
    }
}

@media (min-width:0px) and (max-width:530px) {
    .pokedex_header {
        height: 110px;
    }
    .pokedex_camera {
        width: 60px;
        padding-bottom: 60px;
        border-width: 14px;
    }
    .pokedex_frame1 {
        width: 95%;
    }
    .direcion_buttons_container {
        width: 120px;
        height: 120px;
    }
    .pokedex_left_buttons_container {
        width: 95%;
        grid-template-columns: 2.6fr 1fr;
        gap: 0;
    }
    .pokedex_blue_button {
        width: 25%;
        padding-bottom: 25%;
    }
    .pokedex_select_button {
        width: 25%;
        padding-bottom: 7.5%;
    }
}
@media (max-width:400px) {
    .pokedex_header {
        height: 105px;
    }
    .pokedex_camera {
        width: 40px;
        padding-bottom: 40px;
        border-width: 11px;
    }
}