.screen1 {
    width: 100%;
    height: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.screen1_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.screen1_game {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.buttonLabel {
    position: absolute;
    width: max-content;
    bottom: 14px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttonLabel h4 {
    margin: 0;
}
.tiny_green {
    width: 30px;
    padding-bottom: 10px;
    background-color: #2df74e;
    border-radius: 20px;
    border: 1px solid black;
}